# =========================================================
# CUSTOM ERROR PAGES
# =========================================================

ErrorDocument 404 /WEBSITE/404.php
ErrorDocument 500 /WEBSITE/500.php


# =========================================================
# BLOCK DIRECT ACCESS TO CONFIG FOLDER
# =========================================================

RewriteEngine On

RewriteRule ^config(?:/|$) - [F,L]


# =========================================================
# BLOCK DIRECT ACCESS TO ERROR LOG
# =========================================================

<Files "error_log.txt">
    Require all denied
</Files>


# =========================================================
# DISABLE DIRECTORY LISTING
# =========================================================

Options -Indexes